/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/out/
.vagrant

*.#*
*~
.env
*#
*.DS_Store
*.rdb
.*.swp
mkmf.log
.rvmrc
.ruby-version
.tool-versions

Session.vim

vendor/bundle
vendor/cache

# IDE local settings
.vscode
.idea
