name: Deploy Heroku

on:
  workflow_dispatch: {}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: akhileshns/heroku-deploy@v4
        with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: "websocket-echo-io"
          heroku_email: ${{secrets.HEROKU_API_EMAIL}}
          usedocker: true
          # healthcheck: https://demo-rest-api.herokuapp.com
          # checkstring:
